body {
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3 {
  font-weight: bold;
}
h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  margin-bottom: 5%;
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}
/* title */
#title {
  background-color: #ff4c68;
  color: #fff;

}
.container-fluid {
  padding: 6% 15% 0%;
}
/* Navigation Bar */
.navbar-brand {
  font-family: 'Ubuntu', serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
  text-align: center;
}
.nav-item:hover .nav-link{
  border-bottom: 3px solid pink;
}
.nav-link {
  font-size: 1.2rem;

}
/* Title image */
.title-img {
  padding-top: 5%;
  /* position: absolute; */
  /* transform: rotate(25deg); */
}

/***********FRAUD*********/
.hider {
  display: inline-block;
}
.hider .hide{
  display: none;
}
.hider:hover .hide{
  display: inline-block;
}
.hider:hover .show{
  display: none;
}
/****************COL- l6**************/
/* Featues Section */
#features {
  padding: 10% 15% 7%;
  position: relative;
  background-color: #fff;
  bottom: 20px;

}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff46c8;
}
/* testimonial */
#testimonials {
  padding: 7% 5%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.caurousel-item {
  padding: 7% 15%;
}
.carousel-inner {
  padding: 5%;
}
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 0px 20px 50px;
}
.carousel-indicators {
  margin-top: 2%;
}
/* Pricing section */
#pricing {
  padding: 7%;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
/* call to action */
#cta {
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 5%;
}
#cta h3{
  padding-bottom: 5%;
  font-size: 2.6rem;
  margin: 0 10%
}
#cta .btn{
  margin: 1.2%;
}
/* footer */
#footer {
  padding: 5% 0;
}
#footer p{
  display: block;
  text-align: center;
}

#footer .container {
  padding: 5%;
}
#footer .container  {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}





/* media query */
@media (max-width:990px){
  .navbar-brand {
    font-size: 5rem;

  }
  h1{
    font-size: 4rem;
  }
  .nav-link{
    font-size: 2.5rem;
  }
  .navbar-toggler{
    font-size: 3rem;
  }
  .container-fluid{
    padding: 6% 5% 0%;
  }
  .container-fluid .row {
    text-align: center;
  }
  .container-fluid .row .col-lg-6 .hider .btn .fa-play,.container-fluid .row .col-lg-6 .btn .fas,.container-fluid .row .col-lg-6 .btn .fa-amazon-pay{
    font-size: 3rem;
  }
}
